body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #873e23, #6f3e18);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/*loading*/
#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1e6cc7 url('https://i2.wp.com/codemyui.com/wp-content/uploads/2015/11/pure-css-bookshelf-loading-animation.gif?fit=880%2C440&ssl=1') no-repeat center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;
}

body.loading #loading {
    display: block;
}

body.loaded #loading {
    opacity: 0;
    pointer-events: none;
}

.login-container {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 650px;
    width: 100%;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

.form-control {
    padding-left: 45px;
    height: 45px;
    border-radius: 8px;
}

.input-group-text {
    background: none;
    border-right: none;
}

.btn-login {
    background-color: #007bff;
    color: white;
    transition: 0.3s;
    font-size: 16px;
    font-weight: bold;
}

.btn-login:hover {
    background-color: #0056b3;
}

.show-password {
    cursor: pointer;
}

.login-logo {
    width: 600px; /* Điều chỉnh kích thước logo */
    height: auto;
    display: block;
    margin: 0 auto; /* Căn giữa */
}
